<div id="header">
  <h1>Connect Four</h1>
  <h4>Computer is red player. You are the black player. Enter your name to begin the game!</h4>
</div>


<%= form_for @game do |f| %>
  <p>
    <%= f.label :player %><br>
    <%= f.text_field :player %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
