body {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  background-color: black;
  color: white;
}
h1 {
  font-family: 'Slabo 27px', serif;
}
div {
  margin-left: auto;
  margin-right: auto;
}
#header {
  width: 800px;
}
.game_board {
  width: 560px;
  height: 480px;
  background-color: #708090;
}
.columns {
  list-style: none;
  display: inline-block;
  width: 75px;
  padding: 0;
  transform: rotate(180deg);
}
.game_index {
  width: 350px;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}
.game_index li{
  list-style: none;
  padding: 5px;
}
.game_index li a{
  text-decoration: none;
  color: #d3d3d3
}
.slot {
  height: 75px;
  border-radius: 50%;
  transform: rotate(-180deg);
}
.empty_slot {
  background-color: #d3d3d3;
  color: #d3d3d3;
}
.black_slot {
  background-color: black;
  color: black;
}
.red_slot {
  background-color: maroon;
  color: maroon;
}
.column_choices {
  width:630px;
  margin-left: auto;
  margin-right: auto;
}
.column_choices input {
  margin-left: auto;
  margin-right: auto;
  margin:31px;
}
